<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flash Messages</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/assert/css/bootstrap.min.css') }}"
    />
    <script src="{{ url_for('static', filename='css/assert/js/jquery.min.js') }}"></script>
  </head>
  <body>
    <div class="container" style="margin-top: 100px">
      <div class="col-md-7">
        <h3 class="text-info">Flash Messages</h3>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
        <form method="POST" action="/">
          <input
            type="submit"
            value="Success"
            name="success"
            class="btn btn-success"
          />
          <input
            type="submit"
            value="Warning"
            name="warning"
            class="btn btn-warning"
          />
          <input
            type="submit"
            value="Primary"
            name="primary"
            class="btn btn-primary"
          />
          <input
            type="submit"
            value="Secondary"
            name="secondary"
            class="btn btn-secondary"
          />
          <input type="submit" value="Info" name="info" class="btn btn-info" />
          <input
            type="submit"
            value="Danger"
            name="danger"
            class="btn btn-danger"
          />
          <input type="submit" value="Dark" name="dark" class="btn btn-dark" />
        </form>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      $(".alert").hide(3000);
    });
  </script>
  <!-- <script>
  $(document).ready(function () {
    alert("hi");
  });
</script> -->
</html>
