<!DOCTYPE html>
<html lang="en">
  {% extends 'CRUD_app/base.html' %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table</title>
  </head>
  <body>
    {% block content %}
    <h1>Student Details</h1>
    <table border="1">
      <thead>
        <th>Student Number</th>
        <th>Student Name</th>
        <th>Student Class</th>
        <th>Student Address</th>
        <th>Options</th>
      </thead>
      <tr>
        {% for st in student %}
        <td>{{st.Sno}}</td>
        <td>{{st.Sname}}</td>
        <td>{{st.Sclass}}</td>
        <td>{{st.Saddress}}</td>
        <td>
          <a href="/create"><button>Add</button></a>
          <a href="#"><button>Update</button></a>
          <a href="#"><button>Delete</button></a>
        </td>
      </tr>

      {% endfor %}
    </table>
    {% endblock %}
  </body>
</html>
