<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result</title>
  </head>
  <body>
    <form action="http://localhost:5000/result" method="post">
      <h1>Enter you marks:</h1>
      <p>Tamil<input type="text" name="tamil" /></p>
      <p>English<input type="text" name="english" /></p>
      <p>Maths<input type="text" name="maths" /></p>
      <p>Science<input type="text" name="science" /></p>
      <p>Phsiycs<input type="text" name="phsiycs" /></p>
      <p>Social<input type="text" name="social" /></p>
      <p><input type="submit" value="submit" /></p>
    </form>
  </body>
</html>
