<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Student</title>
  </head>
  <body>
    <h1>Update Student Details</h1>
    <form method="post">
      <div>
        <label for="Sno">Student No</label>
        <input
          type="text"
          id="Sno"
          name="Sno"
          value="{{ student.Sno }}"
          required
        />
      </div>
      <div>
        <label for="Sname">Student Name</label>
        <input
          type="text"
          id="Sname"
          name="Sname"
          value="{{ student.Sname }}"
          required
        />
      </div>
      <div>
        <label for="Sclass">Student Class</label>
        <input
          type="text"
          id="Sclass"
          name="Sclass"
          value="{{ student.Sclass }}"
          required
        />
      </div>
      <div>
        <label for="Saddress">Student Address</label>
        <input
          type="text"
          id="Saddress"
          name="Saddress"
          value="{{ student.Saddress }}"
          required
        />
      </div>
      <button type="submit">Update Student</button>
    </form>
  </body>
</html>
